.filter { 
    height: 15.625em;
    width: 15.625em;
    position: relative;
    left: 17%;
    top: 2vh;
    margin-top: 1.5em;

}
.filter-container {
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.filter-container:hover>.filter-icon, .filter-container:hover>.filter-font {
    color:rgb(255, 152, 0);
}

.filter-icon {
    color:#6d6e6f;
    margin-left: 0.25em;
    margin-right: 2em;
    height: 1.5em;
    width: 1.5em;
}

.filter-font {
    color: #1f1f20;
    font-weight: 500;
    letter-spacing: 0.025;
}

a {
    text-decoration: none;
}


@media screen and (min-width: 1127px) and (max-width: 1690px) {
    
    .filter {
        left: 6%;
    }
}

@media screen and (min-width: 815px) and (max-width: 1126px) {

    .filter {
        left: 4%;
    }
}

@media screen and (min-width: 570px) and (max-width: 814px) {

    .filter {
        left: 2%;
    }
}    

@media screen and (max-width: 569px) {
    
    .filter {
        left: 0;
    }

    .filter-font {
        display: none;
    }  
 }
