html {
    box-sizing: border-box;
}

p, span, a, h1, h2, h3, .searchbar {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
    background-color: #eef0f2;
    height: fit-content;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

.main {
    position: relative;
    top: 2.75em;
} 

.skeleton {
    opacity: 0.7;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-detail {
    width: 80%;
    height: 0.5em;
    margin-bottom: 0.25em;
    border-radius: 0.125em;
}

.skeleton-text {
    width: 100%;
    height: 0.75em;
    margin-bottom: 0.25em;
    border-radius: 0.125em;

}

.skeleton-text:last-child {
    margin-bottom: 0;
    width: 80%;
}

.skeleton-title {
    width: 100%;
    height: 1.5em;
    border-radius: 0.125em;
    margin-left: 1.5em;
    margin-bottom: 0.5em;
}

.skeleton-title:last-child {
    margin-bottom: 0;
    width: 80%;
}


@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);

    }
    100% {
        background-color: hsl(200, 20%, 95%);
        
    }
}

@media screen and (min-width: 1127px) and (max-width: 1620px) {
    

}

@media screen and (min-width: 816px) and (max-width: 1126px) {

    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 570px) and (max-width: 815px) {

    html {
        font-size: 12px;
    }
}


@media screen and (max-width: 569px) { 

    html {
        font-size: 10px;
    }

}