.post-container {
    height:1200px;
    width: 850px;
    position: absolute;
    left: 35%;
    top: 10%;
}

.post-container:first-child {
    margin-top: 0;
}

span, h2 {
    letter-spacing:0.01071em
}

.post-card {
    border:#d6d6d6 1px solid;
    height: 200px;
    margin: 1rem 0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-card:hover {
    transform: scale(1.005, 1.005);
    box-shadow: 1px 2px rgb(165, 162, 162);
}

.post-card-container {
    height: 100%;
    width: 70%;
    display: flex;
    flex-flow: column nowrap;

}

.post-card-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.post-card-img-container {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #bdbdbd;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-card-img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.no-image {
    height: 20px;
    width: 20px;
}

.post-card-link {
    font-size: 0.875rem;
    font-weight: 550;
    margin-right: 1rem;
    line-height: 1.4rem;
}

.post-card-posted-by {
    font-weight: 400;
    font-size: 0.813rem; 
    line-height: 1.3rem;
   
}

.post-card-content {
    height: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.post-card-preview {
    margin: 1rem 1rem;
    font-size: 1.094rem;
    font-weight: 500;
    
}

.post-card-footer {
    padding: 0.5rem;
    display: flex;
    flex-flow: row nowrap;
}

.post-card-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
    cursor:pointer;
    padding: 0.5rem 0.25rem;
}

.post-card-actions:hover {
    background-color:rgb(240, 240, 240);
}

.post-card-icon {
    color:#757575;
    margin: 0 0.5rem;
    height: 1.1rem;
    width: 1.1rem;
}

.post-card-text {
    color: #757575;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0.25rem;
}

.post-card-votes {
    height: 100%;
    width: 9%;
    background-color: #ebebeb;
    border-left: 1px solid rgba(0,0,0, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.25rem; 
    font-weight: 500;
    line-height: 1.5rem;
}

.post-card:hover>.post-card-votes {
    transform: scale(1.005, 1.005);
}

.post-card-media-preview {
    height: 80%;
    width: 200px;
    margin-right: 1rem;
    text-align: center;
}

.media-preview {
    height: 100%;
    width: 100%;
}
.post-card-media-preview video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.post-card-media-preview embed {
    object-position: 50% 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

.external-link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.external-link a {
    text-decoration: none;
}

.external-link a span {
    border: solid 1px blue;
    padding: 0.5rem;
    border-radius: 5%;
}

.external-link a span:hover {
    background-color: blueviolet;
}