.subreddit-menu {
    background-color: var(--lightBackground) ;
    max-width: 18.75em;
    height:fit-content;
    position: relative;
    left: 16%;
    top: 1.438em;
    margin-top: 1.5em;
    border-radius: 5px;    
    padding-bottom: 1em;
}

.subreddit-menu-heading {
    display: inline-block ;
    width: 80%;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 575;
    letter-spacing: 0.02em;
    line-height: 1.75rem;
    color: var(--menuHeading);
    margin: 0.5em 0 0 1.5em;
    
}

.subreddit-card-container {
    border-top: 1px solid #9e9e9e;
    width: 85%;
    height: 80%;
    margin: 0.25em 1em;
    padding-top: 1em;
}


@media screen and (min-width: 1127px) and (max-width: 1690px) {
    
    .subreddit-menu {
        left: 5%;
    }
}

@media screen and (min-width: 816px) and (max-width: 1126px) {

    .subreddit-menu {
        left: 1%;
    }
   
}

@media screen and (min-width: 570px) and (max-width: 815px) {

    .subreddit-menu {
        left: 0;
        width: 16.5em;
    }

}    

@media screen and (max-width: 569px) {

    .subreddit-menu {
        display: none;
    }

}    
