span, p {
    letter-spacing:0.01071em;
}

.comment-card{
    background-color:var(--commentBackground);
    height: fit-content;
    border-left: 2px solid #989898;
}

.comment-card-user-details {
    margin: 1em 1em 1.5em 2em;
    padding-top: 1em;
}

.comment-card-username {
    font-size: 0.85rem;
    font-weight: 350;
    margin-right: 0.5em;
}

.comment-card-body {
    margin: 0 2em 1em 2em;
}

.comment-text {
    font-weight: 350;
    font-size: 0.95rem;
}

.comment-card-actions {
    margin: 0 1em 0 2em;
    padding-bottom: 0.5em;
    display: flex;
    align-items: center;
}

.comment-card-actions span {
    color: var(--actionSpan);
    text-transform: uppercase;
    font-size: 0.780rem;
    font-weight: 500;
}

.comment-card-icon {
    margin: 0 0.5em;
    color: var(--font);
}

.comment-card-share {
    display: flex;
    align-items: center;
    margin-left: 1em;
    padding:0.5em 0.5em 0.5em 0;
}

.comment-card-share:hover {
    background-color: var(--commentCardHover);
    cursor: pointer;
}